<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.kodular.allawi.getmoney">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Splash -->
        <activity
            android:name="io.kodular.allawi.getmoney.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login -->
        <activity
            android:name="io.kodular.allawi.getmoney.LoginActivity"
            android:exported="false" />

        <!-- Register -->
        <activity
            android:name="io.kodular.allawi.getmoney.RegisterActivity"
            android:exported="false" />

        <!-- Main -->
        <activity
            android:name="io.kodular.allawi.getmoney.MainActivity"
            android:exported="false" />

        <!-- Daily Reward -->
        <activity
            android:name="io.kodular.allawi.getmoney.DailyRewardActivity"
            android:exported="false" />

        <!-- Invite -->
        <activity
            android:name="io.kodular.allawi.getmoney.InviteActivity"
            android:exported="false" />

        <!-- Profile -->
        <activity
            android:name="io.kodular.allawi.getmoney.ProfileActivity"
            android:exported="false" />

    </application>

</manifest>
